@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.reg-page-header{
  font-family: nasalization, "Helvetica Neue";
    color: #efe;
    margin-top: 3%;
    text-align: center;
  }


#reg-page {
  margin: auto;
  font-family: nasalization, "Helvetica Neue";
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#reg-page .page {
  position: relative;

}

  #reg-page .container {
    position: relative;
    padding: 50px;
    width: 100%;
    min-height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 5, 67, 136, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 2%;
  }

  #reg-page .container::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 5px;
    pointer-events: none;
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 2%
    );
  }

  #reg-page .form {
    position: relative;
    width: 100%;
    height: 100%;
  }

  #reg-page .inputBx {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
  }

  #reg-page .inputBx input {
    width: 100%;
    outline: none;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
    padding: 8px 10px;
    padding-left: 40px;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  }

  #reg-page .selectBx {
    width: 40%;
    outline: none;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
    padding: 8px 10px;
    padding-left: 40px;
    border-radius: 15px;
    color: #fff;
    font-size: 21px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
    margin-right: 50px;
  }

 #reg-page label{
    font-size: 15px;
 } 

 #reg-page .reg-btn {
    text-align: center;
    padding: 5px;
    height: 40px;
    width: 125px;
    margin: 50px 0;
    background: rgba( 5, 67, 136, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  #reg-page .reg-btn:hover {
    background: rgba( 5, 67, 136, 0.9 );
    /* box-shadow: 10px 10px 32px 10px rgba( 31, 38, 135, 0.9 ); */
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border: 2px solid rgba( 255, 255, 255, 0.50 );
  }
  
  #reg-page .inputBx input::placeholder {
    color: #fff;
  }
  
  #reg-page .inputBx span {
      position: absolute;
      left: 30px;
      padding: 10px;
      display: inline-block;
      color: #fff;
      transition: .5s;
      pointer-events: none;
    }
    
    #reg-page .selectBx span {
      border-radius: 15px;
        position: absolute;
        font-size: 15px;
        top: 50px;
        left: 0px;
        padding: 10px;
        display: inline-block;
        color: #fff;
        transition: .5s;
        pointer-events: none;
      }

      #reg-page .selectBx select{
        padding-left: 5%;
        padding-right: 2%;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.2);
        border: none;
        color: #efe;
      }
      
      #reg-page .selectBx option{
        color: #121;
      }

    #reg-page .inputBx input:focus ~ span,
    #reg-page .inputBx input:valid ~ span { 
    transform: translateX(-30px) translateY(-30px);
    font-size: 15px;
  }

  #reg-page .help p {
    color: #fff;
    font-size: 15px;
    margin-bottom: 0;
  }

  #reg-page .help a {
    color: #fff;
    font-size: 18px;
  }
  
  .members{
    color: #efe;
  }
  .members h2{
    margin-bottom: 25px;
  }
  #reg-page h2{
    color: #efe;
    margin: 50px 0;
  }

  #reg-page .inputBx label {
    font-size: 15p;
    color: #efe;
  }
  .reg-page-header{
    font-family: nasalization, "Helvetica Neue"; 
    font-weight: 600; 
    font-size: 50px;
    padding-bottom: 50px;
  }

  @media only screen and (max-width: 1080px){
      .reg-page-header{
        font-size: 32px;
      }

      #reg-page .selectBx{
        width: 50%;
      }

      #reg-page .inputBx input{
        font-size: 18px;
      }

      #reg-page .selectBx select{ 
        font-size: 18px;
      }

      #reg-page .selectBx option{
        font-size: 12px;
      }

  }

  @media only screen and (max-width: 720px){
    #reg-page .selectBx{
      width: 100%;
    }
  }

  @media only screen and (max-width: 500px){
    #reg-page{
      width: 95%;
    }
    
    .reg-page-header{
      font-size: 21px;
    }

    #reg-page .inputBx span{
      font-size: 10px;
    }
    
    #reg-page .inputBx input:focus ~ span,
    #reg-page .inputBx input:valid ~ span {
      transform: translateX(-20px) translateY(-20px);
      font-size: 10px;
    }
    
    #reg-page .inputBx input{
      font-size: 12px;
    }
    
    #reg-page .inputBx label{
      font-size: 12px;
    }

    #reg-page .selectBx select{ 
      font-size: 12px;
    }

    #reg-page .selectBx option{
      font-size: 12px;
    }

}