body {
    font-family: serif;
    font-weight: 400;
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body.ts-side-panel-active .ts-side-panel {
    transform: translateX(0%);
}

body.ts-side-panel-active .ts-page-wrapper {
    transform: translateX(-100%);
}

body.ts-theme-light .ts-shapes-canvas:after {
    opacity: .1;
}

body.ts-theme-light p {
    color: rgba(25, 25, 25, .6);
}

body.ts-theme-light h2 {
    border-bottom-color: rgba(25, 25, 25, .1);
}

body.ts-theme-light .ts-social-icons a {
    color: #191919;
    opacity: .6;
}

body.ts-theme-light .ts-social-icons a:hover {
    opacity: 1;
}

body.ts-theme-dark {
    color: #fff;
    background-color: #191919;
}

body.ts-theme-dark p {
    color: rgba(255, 255, 255, .6);
}

body.ts-theme-dark .form-control {
    box-shadow: 0 0 0 .125rem rgba(255, 255, 255, .2);
}

body.ts-theme-dark .form-control:focus {
    box-shadow: 0 0 0 .125rem rgba(255, 255, 255, .4);
}

body.ts-theme-dark .ts-social-icons a {
    color: #fff;
    opacity: .6;
}

body.ts-theme-dark .ts-social-icons a:hover {
    opacity: 1;
}

body,
html {
    height: 100%;
}

html {
    font-size: 80%;
}

/* h1 {
    font-style: italic;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.875rem;
} */


/* h2 {
    font-weight: 500;
    font-size: 1.25rem;
}

h3 {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1.25rem;
}

h4 {
    font-weight: 500;
    margin-bottom: 1.875rem;
}

h5 {
    font-size: 1rem;
    font-weight: 500;
}

h6 {
    font-size: .9375rem;
} */

/* NEW */

/***********************************************************************************************************************
B. Helpers
***********************************************************************************************************************/

/*-------------------------------------------
  -- Animations
-------------------------------------------*/

/* [data-animate] {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 1s;
} */

/* Fade In Up */

/* @keyframes ts-fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 1.25rem, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ts-fadeInUp {
    animation-name: ts-fadeInUp;
} */

/* Fade In Down */

/* @keyframes ts-fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -1.25rem, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ts-fadeInDown {
    animation-name: ts-fadeInDown;
} */

/* Fade In Left */

@keyframes ts-fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-1.25rem, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ts-fadeInLeft {
    animation-name: ts-fadeInLeft;
}

/* Fade In Right */

@keyframes ts-fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(1.25rem, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ts-fadeInRight {
    animation-name: ts-fadeInRight;
}

/* Zoom In */

@keyframes ts-zoomIn {
    from {
        opacity: 0;
        transform: scale(.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.ts-zoomIn {
    animation-name: ts-zoomIn;
}

/* Zoom In Short */

@keyframes ts-zoomInShort {
    from {
        opacity: 0;
        transform: scale(.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.ts-zoomInShort {
    animation-name: ts-zoomInShort;
}

/****** Animate Shapes ******/

.ts-animate {
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

/* Bounce */

@keyframes ts-bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(2.5rem);
    }

    100% {
        transform: translateY(0);
    }
}

.ts-bounce {
    animation-name: ts-bounce;
    animation-timing-function: ease-in-out;
}

/* Scale */

@keyframes ts-scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.ts-scale {
    animation-name: ts-scale;
    animation-timing-function: ease-in-out;
} */

/*-------------------------------------------
  -- Borders
-------------------------------------------*/

.ts-border-radius__sm {
    border-radius: .125rem;
    overflow: hidden;
}

.ts-border-radius__md {
    border-radius: .25rem;
    overflow: hidden;
}

.ts-border-radius__lg {
    border-radius: .5rem;
    overflow: hidden;
}

.ts-border-radius__xl {
    border-radius: .75rem;
    overflow: hidden;
}

.ts-border-radius__round-shape {
    border-radius: 187.5rem;
    overflow: hidden;
}

.ts-border-none {
    border: none;
}

.ts-border-bottom {
    border-bottom: .0625rem solid rgba(0, 0, 0, .1);
}

.ts-font-color__white {
    color: #fff;
}

.ts-font-color__black {
    color: #000;
}

.ts-font-color__primary {
    color: #00c9ee;
}

/*-------------------------------------------
  -- Background
-------------------------------------------*/

[data-bg-image] {
    background-size: cover;
    background-position: 50%;
}

.ts-background {
    bottom: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -2;
}

.ts-background .ts-background {
    height: 100%;
    width: 100%;
}

.ts-background-image,
.ts-img-into-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.ts-background-image img,
.ts-img-into-bg img {
    display: none;
}

.ts-background-original-size {
    background-size: inherit;
}

.ts-background-size-cover {
    background-size: cover;
}

.ts-background-size-contain {
    background-size: contain;
}

.ts-background-repeat-x {
    background-repeat: repeat-x;
}

.ts-background-repeat-y {
    background-repeat: repeat-y;
}

.ts-background-repeat-repeat {
    background-repeat: repeat;
    background-size: inherit;
}

.ts-background-position-top {
    background-position: top;
}

.ts-background-position-center {
    background-position: center;
}

.ts-background-position-bottom {
    background-position: bottom;
}

.ts-background-particles {
    height: 120%;
    left: 0;
    margin-left: -10%;
    margin-top: -10%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 120%;
    z-index: 1;
}

.ts-background-is-dark {
    color: #fff;
}

.ts-background-is-dark .form-control {
    box-shadow: 0 0 0 .125rem rgba(255, 255, 255, .2);
}

.ts-background-is-dark .form-control:focus {
    box-shadow: 0 0 0 .125rem rgba(255, 255, 255, .4);
}

.ts-background-is-dark .ts-btn-border-muted {
    border-color: rgba(255, 255, 255, .1);
}

/*-------------------------------------------
  -- Height
-------------------------------------------*/

.ts-height__50px {
    height: 3.125rem;
}

.ts-height__100px {
    height: 6.25rem;
}

.ts-height__150px {
    height: 9.375rem;
}

.ts-height__200px {
    height: 12.5rem;
}

.ts-height__250px {
    height: 15.625rem;
}

.ts-height__300px {
    height: 18.75rem;
}

.ts-height__350px {
    height: 21.875rem;
}

.ts-height__400px {
    height: 25rem;
}

.ts-height__450px {
    height: 28.125rem;
}

.ts-height__500px {
    height: 31.25rem;
}

.ts-height__600px {
    height: 37.5rem;
}

.ts-height__700px {
    height: 43.75rem;
}

.ts-height__800px {
    height: 50rem;
}

.ts-height__900px {
    height: 56.25rem;
}

.ts-height__1000px {
    height: 62.5rem;
}

/*-------------------------------------------
  -- Margin
-------------------------------------------*/

.ts-mt__0 {
    margin-top: 0 !important;
}

.ts-mr__0 {
    margin-right: 0 !important;
}

.ts-mb__0 {
    margin-bottom: 0 !important;
}

.ts-ml__0 {
    margin-left: 0 !important;
}

/* NEW */

/*-------------------------------------------
  -- No Gutters - Removes padding from col*
-------------------------------------------*/

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

/* NEW */

/*-------------------------------------------
  -- Opacity
-------------------------------------------*/

.ts-opacity__5 {
    opacity: .05;
}

.ts-opacity__10 {
    opacity: .1;
}

.ts-opacity__20 {
    opacity: .2;
}

.ts-opacity__30 {
    opacity: .3;
}

.ts-opacity__40 {
    opacity: .4;
}

.ts-opacity__50 {
    opacity: .5;
}

.ts-opacity__60 {
    opacity: .6;
}

.ts-opacity__70 {
    opacity: .7;
}

.ts-opacity__80 {
    opacity: .8;
}

.ts-opacity__90 {
    opacity: .9;
}

/*-------------------------------------------
  -- Overflow
-------------------------------------------*/

.ts-overflow__hidden {
    overflow: hidden;
}

.ts-overflow__visible {
    overflow: visible;
}

/* NEW */

/*-------------------------------------------
  -- Padding
-------------------------------------------*/

.ts-pt__0 {
    padding-top: 0 !important;
}

.ts-pr__0 {
    padding-right: 0 !important;
}

.ts-pb__0 {
    padding-bottom: 0 !important;
}

.ts-pl__0 {
    padding-left: 0 !important;
}

/*-------------------------------------------
  -- Position
-------------------------------------------*/

/* Top */

.ts-top__0 {
    top: 0%;
}

.ts-top__50 {
    top: 50%;
}

.ts-top__100 {
    top: 100%;
}

/* Right */

.ts-right__0 {
    right: 0%;
}

.ts-right__50 {
    right: 50%;
}

.ts-right__100 {
    right: 100%;
}

/* Bottom */

.ts-bottom__0 {
    bottom: 0%;
}

.ts-bottom__50 {
    bottom: 50%;
}

.ts-bottom__100 {
    bottom: 100%;
}

/* Left */

.ts-left__0 {
    left: 0%;
}

.ts-left__50 {
    left: 50%;
}

.ts-left__100 {
    left: 100%;
}

/* NEW */

/*-------------------------------------------
  -- Shadow
-------------------------------------------*/

.ts-shadow__sm {
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
}

.ts-shadow__md {
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .15);
}

.ts-shadow__lg {
    box-shadow: .375rem .3125rem 1.5625rem rgba(0, 0, 0, .2);
}

.ts-shadow__none {
    box-shadow: none !important;
}

/*-------------------------------------------
  -- Shape Mask
-------------------------------------------*/

.ts-shape-mask__up:before {
    background-image: url("../../assets/img/bg-shape-mask-up.png");
    background-size: cover;
    content: "";
    left: 0;
    height: 3.75rem;
    position: absolute;
    top: -0.0625rem;
    width: 100%;
}

.ts-shape-mask__down:after {
    background-image: url("../../assets/img/bg-shape-mask-down.png");
    background-size: cover;
    bottom: -0.0625rem;
    content: "";
    left: 0;
    height: 3.75rem;
    position: absolute;
    width: 100%;
}

/* NEW */

/*-------------------------------------------
  -- Typography
-------------------------------------------*/

a {
    color: #00c9ee;
    transition: .3s ease;
}

a:hover {
    color: rgb(0, 165, 194);
    text-decoration: none;
}

p {
    line-height: 1.6875rem;
    margin-bottom: 1.875rem;
    color: rgba(25, 25, 25, .6);
}

.ts-font-weight__normal {
    font-weight: normal;
}

.ts-font-weight__light {
    font-weight: lighter;
}

.ts-font-weight__bold {
    font-weight: bold;
}

.ts-text-small {
    font-size: .8125rem !important;
}


/*-------------------------------------------
  -- Title
-------------------------------------------*/

.ts-title {
    padding-top: 50px;
    margin-bottom: 1.25rem;
}

.ts-title h5 {
    font-weight: normal;
    opacity: .5;
}

/* NEW */

/* NEW */

/*-------------------------------------------
  -- Utilities
-------------------------------------------*/

/* Social Icons */

.ts-social-icons {
    font-size: 120%;
}

.ts-social-icons a {
    padding: .25rem .5rem;
    color: #9e9e9e;
}

/* Overlay */

.ts-has-overlay {
    position: relative;
}

.ts-has-overlay:after {
    background-color: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

/* Flip x */

.ts-flip-x {
    transform: scaleY(-1);
}

/* Flip Y */

.ts-flip-y {
    transform: scaleX(-1);
}

/* NEW flip */

/*-------------------------------------------
  -- Width
-------------------------------------------*/

.ts-width__10px {
    width: .625rem;
}

.ts-width__20px {
    width: 1.25rem;
}

.ts-width__30px {
    width: 1.875rem;
}

.ts-width__40px {
    width: 2.5rem;
}

.ts-width__50px {
    width: 3.125rem;
}

.ts-width__100px {
    width: 6.25rem;
}

.ts-width__200px {
    width: 12.5rem;
}

.ts-width__300px {
    width: 18.75rem;
}

.ts-width__400px {
    width: 25rem;
}

.ts-width__500px {
    width: 31.25rem;
}

.ts-width__inherit {
    width: inherit !important;
}

.ts-width__auto {
    width: auto !important;
}

/*-------------------------------------------
  -- Z-index
-------------------------------------------*/

.ts-z-index__-1 {
    z-index: -1 !important;
}

.ts-z-index__0 {
    z-index: 0 !important;
}

.ts-z-index__1 {
    z-index: 1 !important;
}

.ts-z-index__2 {
    z-index: 2 !important;
}

.ts-z-index__1000 {
    z-index: 1000 !important;
}

/* NEW */

/***********************************************************************************************************************
C. Components
***********************************************************************************************************************/

/*-------------------------------------------
  -- Block
-------------------------------------------*/

.ts-block {
    padding-bottom: 5rem;
    padding-top: 5rem;
    position: relative;
}

.ts-block-inside {
    padding: 1.25rem;
    position: relative;
}

section {
    position: relative;
}

/*-------------------------------------------
  -- Buttons
-------------------------------------------*/

/*-------------------------------------------
  -- Circle
-------------------------------------------*/

.ts-circle__sm {
    border-radius: 50%;
    display: inline-block;
    height: 4.375rem;
    flex: 0 0 4.375rem;
    overflow: hidden;
    width: 4.375rem;
    position: relative;
}

.ts-circle__md {
    border-radius: 50%;
    display: inline-block;
    height: 6.25rem;
    flex: 0 0 6.25rem;
    overflow: hidden;
    width: 6.25rem;
    position: relative;
}

.ts-circle__lg {
    border-radius: 50%;
    display: inline-block;
    height: 8.125rem;
    flex: 0 0 8.125rem;
    overflow: hidden;
    width: 8.125rem;
    position: relative;
}

.ts-circle__xl {
    border-radius: 50%;
    display: inline-block;
    height: 10rem;
    flex: 0 0 10rem;
    overflow: hidden;
    width: 10rem;
    position: relative;
}

/*-------------------------------------------
  -- Forms
-------------------------------------------*/

form.ts-labels-inside-input .form-group,
.ts-form.ts-labels-inside-input .form-group {
    position: relative;
}

form.ts-labels-inside-input .form-group label,
.ts-form.ts-labels-inside-input .form-group label {
    line-height: 2.625rem;
    left: .8125rem;
    opacity: .4;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: .3s ease;
}

form.ts-labels-inside-input .form-group label.focused,
.ts-form.ts-labels-inside-input .form-group label.focused {
    top: -2.1875rem;
    left: 0;
    font-size: .75rem;
    opacity: 1;
}

.form-control {
    border: 0;
    box-shadow: 0 0 0 .125rem rgba(0, 0, 0, .2);
    border-radius: .125rem;
    padding: .5625rem .75rem;
}

.form-control:focus {
    box-shadow: 0 0 0 .125rem rgba(0, 0, 0, .4);
}

.form-group {
    margin-bottom: 1.5625rem;
}

.form-group label {
    font-size: .8125rem;
}

/*-------------------------------------------
  -- HR
-------------------------------------------*/

hr {
    border-top-width: .125rem;
}

/* NEW */

/*-------------------------------------------
  -- Inputs
-------------------------------------------*/

.ts-input__static {
    pointer-events: none;
    box-shadow: none;
}

.ts-inputs__transparent input,
.ts-inputs__transparent textarea {
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.ts-inputs__transparent input:active,
.ts-inputs__transparent input:focus,
.ts-inputs__transparent textarea:active,
.ts-inputs__transparent textarea:focus {
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.ts-item {
    height: 100%;
    padding-bottom: 1.875rem;
}

.ts-item-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ts-item-header {
    margin-bottom: 1.5625rem;
    position: relative;
}

.ts-item-header .icon .step {
    background-color: #00c9ee;
    bottom: 0;
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .15);
    border-radius: 50%;
    color: #191919;
    font-weight: 600;
    line-height: 1.875rem;
    left: 0;
    height: 1.875rem;
    position: absolute;
    text-align: center;
    width: 1.875rem;
}

.ts-item-body {
    flex: 1 1 auto;
}

.ts-item-footer {}

/*-------------------------------------------
  -- List
-------------------------------------------*/

ul {
    line-height: 2.5rem;
}

ul.ts-list-divided li {
    border-bottom: .0625rem solid rgba(0, 0, 0, .1);
    padding-bottom: .3125rem;
    padding-top: .3125rem;
}

ul.ts-list-divided li:last-child {
    border-bottom: none;
}

/* NEW */

/*-------------------------------------------
  -- Loading Screen
-------------------------------------------*/

body.has-loading-screen:before {
    background-color: #000;
    content: "";
    height: 100%;
    right: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 1.5s ease;
    opacity: 1;
}

body.has-loading-screen:after {
    content: url("../../assets/img/loading.svg");
    height: 2.5rem;
    width: 2.5rem;
    position: fixed;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: scale(1);
    transition: 1.5s ease;
    top: 0;
    z-index: 10000;
}

body.has-loading-screen.loading-done:before {
    width: 0;
}

body.has-loading-screen.loading-done:after {
    transform: scale(0);
    opacity: 0;
}

/*-------------------------------------------
  -- Map
-------------------------------------------*/

.map {
    min-height: 12.5rem;
}

.map a[href^="http://maps.google.com/maps"] {
    display: none !important;
}

.map a[href^="https://maps.google.com/maps"] {
    display: none !important;
}

.map .gmnoprint a,
.map .gmnoprint span,
.map .gm-style-cc {
    display: none;
}

/*-------------------------------------------
  -- Hero
-------------------------------------------*/

#ts-hero {
    color: rgb(255, 255, 255);
    display: flex;
    position: relative;
}

#ts-hero .ts-background-image {
    background-position: top center;
}

/*-------------------------------------------
  -- Navbar
-------------------------------------------*/

.navbar {
    width: 100%;
    display: inline;
    font-size: .875rem;
    font-weight: 500;
    transition: .3s ease;
}

.navbar.in {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.navbar.in .ts-background {
    opacity: 1 !important;
}

.navbar .ts-background {
    transition: 1s ease;
}

.navbar .navbar-toggler {
    outline: none !important;
    border: none;
    padding-top: 0.25rem;
    padding-right: 0.3rem;
    padding-bottom: 0.25rem;
    padding-left: 0.3rem;
    margin-right: 4%;
}

.button2 {
    color: #142c6c;
    outline: none;
    border: none;
}

.button2 i {
    color: #fff;
}

@media screen and (max-width: 1000px) {
    .button2 {
        display: flex;
        margin-right: 3%;
    }

    .navbar-brand {
        width: 58%;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
    }
}

@media screen and (min-width: 1345px){
    .navbar-brand {
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
    }
} 

@media screen and (min-width: 1700px){
    .navbar-brand {
        width: 15%;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
    }
}

.button2 :active {
    outline: none !important;
    border: none;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

[class*="navbar-expand"] .navbar-nav .nav-link {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
}

/*XL*/

/*LG*/

/*MD*/

/*SM*/

/*-------------------------------------------
  -- Page
-------------------------------------------*/

.ts-page-wrapper {
    height: 100%;
    transition: 1s cubic-bezier(.77, 0, .18, 1);
}

.ts-page-wrapper>.container {
    display: table;
    height: 100%;
}

#header,
#footer {
    display: table-row;
    height: .0625rem;
}

#header {
    vertical-align: top;
}

#header .navbar {
    padding-left: 0;
    padding-right: 0;
}

#main-content {
    display: table;
    height: 100%;
    width: 100%;
}

#main-content .ts-content-wrapper {
    display: table-cell;
    vertical-align: middle;
}

#main-content .ts-content-wrapper>.row {
    width: 100%;
}

#footer {
    vertical-align: bottom;
}

/*-------------------------------------------
  -- Partners
-------------------------------------------*/

.ts-partners a {
    display: block;
    padding: .625rem .3125rem;
}

/*-------------------------------------------
  -- Plugins
-------------------------------------------*/

.tv-site-widget {
    border: none !important;
}

iframe div {
    border: none;
}

/*-------------------------------------------
  -- Progress
-------------------------------------------*/

.progress {
    background-color: transparent;
    border: .125rem solid #00c9ee;
    border-radius: 0;
    height: .625rem;
}

.progress .progress-bar {
    background-color: #00c9ee;
}

/*-------------------------------------------
  -- Promo Numbers
-------------------------------------------*/

.ts-promo-numbers h2 {
    font-weight: normal;
}

.ts-promo-numbers h3 {
    font-weight: normal;
}

.ts-promo-number {
    position: relative;
}

.ts-promo-number .ts-promo-number-divider:after {
    content: "";
    bottom: 0;
    border: .125rem solid #00c9ee;
    border-radius: 50%;
    height: .625rem;
    margin: auto;
    position: absolute;
    right: -0.3125rem;
    top: 0;
    width: .625rem;
}

/*-------------------------------------------
  -- Select
-------------------------------------------*/

select.form-control {
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .15);
    border-radius: .25rem;
    cursor: pointer;
    height: 2.8125rem !important;
    margin-top: -0.125rem;
    padding: .5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: .0625rem;
    text-overflow: '';
}

select.form-control:focus,
select.form-control:hover {
    box-shadow: .375rem .3125rem 1.5625rem rgba(0, 0, 0, .2);
}

select::-ms-expand {
    display: none;
}

.select-wrapper {
    position: relative;
}

/*-------------------------------------------
  -- Slider
-------------------------------------------*/

.ts-slider {
    height: 100% !important;
}

.ts-slider div {
    height: 100% !important;
}

/*-------------------------------------------
  -- Tabs
-------------------------------------------*/

.nav-tabs {
    border-bottom: none;
}

.nav-tabs h4 {
    font-weight: normal;
    margin-bottom: 0;
}

.nav-tabs .nav-link {
    background-color: transparent;
    border: none;
    border-bottom: .1875rem solid transparent;
    margin-left: .9375rem;
    margin-right: .9375rem;
    padding-right: 0;
    padding-left: 0;
    color: inherit;
    opacity: .5;
}

.nav-tabs .nav-link.active {
    color: #191919;
    background-color: transparent;
    border-bottom: .1875rem solid #00c9ee;
    opacity: 1;
}

/* NEW */

/***********************************************************************************************************************
D. Plugins Styles
***********************************************************************************************************************/

/*-------------------------------------------
  -- Count Down
-------------------------------------------*/

.ts-count-down {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: .375rem .3125rem 1.5625rem rgba(0, 0, 0, .5);
}

.ts-count-down div {
    display: block;
    width: 100%;
    position: relative;
}

.ts-count-down div:last-child .ts-cc-number:after {
    display: none;
}

.ts-count-down div .ts-cc-number {
    position: relative;
    width: 100%;
    display: block;
}

.ts-count-down div .ts-cc-number:after {
    bottom: 0;
    content: "\f111";
    font-weight: 900;
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    height: .625rem;
    margin: auto;
    font-size: .625rem;
    top: 0;
    opacity: .2;
    right: -0.625rem;
    -webkit-font-smoothing: antialiased;
}

.ts-count-down .ts-cc-description {
    display: block;
    font-size: .875rem;
    opacity: .5;
}

/*-------------------------------------------
  -- Magnific Popup
-------------------------------------------*/

/* overlay at start */

.mfp-fade.mfp-bg {
    opacity: 0;
    background-color: #000;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
    opacity: .8;
}

/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

/* content animate it */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

/* content animate out */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

/*-------------------------------------------
  -- Owl Carousel
-------------------------------------------*/

.owl-carousel .owl-dots {
    text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    padding: .3125rem;
}

.owl-carousel .owl-dots .owl-dot:hover span,
.owl-carousel .owl-dots .owl-dot.active span {
    opacity: .7;
}

.owl-carousel .owl-dots .owl-dot span {
    background-color: #191919;
    border-radius: 50%;
    display: inline-block;
    height: .625rem;
    opacity: .2;
    transition: .3s ease;
    width: .625rem;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: -1.25rem;
    bottom: 0;
    height: 0;
    margin: auto;
    width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    background-color: rgba(25, 25, 25, .6);
    border-radius: 50%;
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 2.5rem;
    position: absolute;
    text-align: center;
    transition: .3s ease;
    width: 2.5rem;
}

.owl-carousel .owl-nav .owl-prev:after,
.owl-carousel .owl-nav .owl-next:after {
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: 1.375rem;
    line-height: 2.5rem;
    -webkit-font-smoothing: antialiased;
}

.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover {
    background-color: rgba(25, 25, 25, .8);
}

.owl-carousel .owl-nav .owl-next {
    right: .3125rem;
}

.owl-carousel .owl-nav .owl-next:after {
    content: "\f105";
    margin-left: .1875rem;
}

.owl-carousel .owl-nav .owl-prev {
    left: .3125rem;
}

.owl-carousel .owl-nav .owl-prev:after {
    content: "\f104";
    margin-right: .0625rem;
}

/***********************************************************************************************************************
E. Template Specific Elements
***********************************************************************************************************************/

/*-------------------------------------------
  -- Centered Slider
-------------------------------------------*/

.ts-carousel-centered .slide {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}

.ts-carousel-centered .owl-item {
    perspective: 1000;
}

.ts-carousel-centered .owl-item .slide {
    opacity: .5;
    transition: .3s ease;
    transform: scale(.95);
}

.ts-carousel-centered .owl-item.active.center .slide {
    opacity: 1;
    transform: scale(1);
}

.ts-carousel-centered .owl-nav .owl-prev,
.ts-carousel-centered .owl-nav .owl-next {
    height: 3.75rem;
    width: 3.75rem;
}

.ts-carousel-centered .owl-nav .owl-prev:after,
.ts-carousel-centered .owl-nav .owl-next:after {
    font-size: 1.375rem;
    line-height: 3.75rem;
}

.ts-carousel-centered .owl-nav .owl-prev:hover,
.ts-carousel-centered .owl-nav .owl-next:hover {
    background-color: rgb(25, 25, 25);
}

.ts-carousel-centered .owl-nav .owl-next {
    right: 1.25rem;
}

.ts-carousel-centered .owl-nav .owl-prev {
    left: 1.25rem;
}

/*-------------------------------------------
  -- Hero Form Floated
-------------------------------------------*/

.floated {
    position: relative;
    width: 100%;
    z-index: 1;
    bottom: -1.875rem;
}

.floated form {
    position: relative;
    padding: 1.875rem 3.75rem;
}

/*-------------------------------------------
  -- Price Box
-------------------------------------------*/

.ts-price-box__promoted {
    box-shadow: .375rem .3125rem 1.5625rem rgba(0, 0, 0, .2);
    margin-top: -1.25rem;
    margin-bottom: .625rem;
    z-index: 2;
}

.ts-price-box__promoted .ts-title {
    transform: scale(1.2);
}

/* NEW */

/*-------------------------------------------
  -- Time Line
-------------------------------------------*/

.ts-time-line__horizontal {
    padding-bottom: .625rem;
    padding-top: .625rem;
    position: relative;
    /* timeline line */
}

.ts-time-line__horizontal ul {
    padding-left: 1.875rem;
    list-style: none;
    position: relative;
}

.ts-time-line__horizontal:after {
    background-color: #474747;
    content: "";
    bottom: 6.875rem;
    height: .1875rem;
    left: 0;
    position: absolute;
    width: 100%;
}

.ts-time-line__horizontal .ts-time-line__item {
    flex: 0 0 auto;
    margin-right: 1.875rem;
    position: relative;
    width: 18.75rem;
}

.ts-time-line__horizontal .ts-time-line__item .ts-box {
    position: relative;
    /* dot */
}

.ts-time-line__horizontal .ts-time-line__item .ts-box:before {
    background-color: #474747;
    bottom: -4.375rem;
    border-radius: 100%;
    content: "";
    left: 1.6875rem;
    height: .75rem;
    position: absolute;
    width: .75rem;
}

.ts-time-line__horizontal .ts-time-line__item .ts-box {
    /*triangle*/
}

.ts-time-line__horizontal .ts-time-line__item .ts-box:after {
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: .5rem .5rem 0 .5rem;
    bottom: -0.4375rem;
    content: "";
    left: 1.5625rem;
    height: 0;
    position: absolute;
    width: 0;
}

.ts-time-line__horizontal .ts-time-line__item.ts-time-line__milestone {
    width: 4.375rem;
}

.ts-time-line__horizontal .ts-time-line__item.ts-time-line__milestone .ts-box {
    background-color: #00c9ee;
    color: rgb(255, 255, 255);
}

.ts-time-line__horizontal .ts-time-line__item.ts-time-line__milestone .ts-box:after {
    border-color: #00c9ee transparent transparent transparent;
}

.ts-time-line__horizontal .ts-time-line__item.ts-time-line__milestone h5 {
    writing-mode: vertical-lr;
    margin: 0;
}

.ts-time-line__horizontal .ts-time-line__item figure {
    margin-left: 1.875rem;
    margin-top: 4.6875rem;
}

.ts-time-line__horizontal .ts-time-line__item figure small {
    text-transform: uppercase;
    opacity: .4;
}

.ts-time-line__horizontal .ts-time-line__item figure small,
.ts-time-line__horizontal .ts-time-line__item figure h6 {
    font-weight: 600;
}

.ts-time-line__horizontal .owl-stage-outer {
    padding: 1rem 1rem 0 1rem;
}

.ts-time-line__horizontal .owl-stage {
    align-items: flex-end;
    display: flex;
}

.ts-time-line__horizontal .ts-sly-frame.ts-loaded>ul {
    align-items: flex-end;
    display: flex;
}

/*-------------------------------------------
  -- Shapes
-------------------------------------------*/

.ts-shapes-canvas:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: .5;
    /*Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100*/
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /*FF3.6-15*/
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /*Chrome10-25,Safari5.1-6*/
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /*W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='#000000', GradientType=1);
    /*IE6-9 fallback on horizontal gradient*/
}

.ts-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotate(.0002deg);
}

.ts-mask {
    background-blend-mode: overlay;
    mask-position: center;
    mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
}

/* NEW */

/*-------------------------------------------
  -- Side Panel
-------------------------------------------*/

.ts-side-panel {
    font-size: 90%;
    height: 100%;
    position: absolute;
    padding: 1.25rem;
    overflow-y: scroll;
    right: 0;
    top: 0;
    width: 100%;
    transform: translateX(100%);
    transition: 1s cubic-bezier(.77, 0, .18, 1);
    z-index: 999;
}

.ts-side-panel h2 {
    border-bottom: .0625rem solid rgba(255, 255, 255, .1);
    padding-bottom: 1.25rem;
}

.ts-side-panel section {
    margin-bottom: 6.25rem;
}

.ts-side-panel .ts-close-side-panel {
    position: absolute;
    font-size: 1.875rem;
    top: .625rem;
    right: 3.125rem;
    z-index: 1;
}

/* NEW */

/*-------------------------------------------
  -- Other
-------------------------------------------*/

/* Hero slider height */

.ts-hero-slider {
    height: 100% !important;
}

.ts-hero-slider div {
    height: 100% !important;
}


/* Navbar */

/* LOGO */

.stretched {
    font-family: nasalization, "Helvetica Neue";
    width: 100%;
    height: 55px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

@media screen and (max-width: 992px) {
    .stretched {
        height: auto;
    }
}

.stretched a {
    padding: 0;
}

.navbar-brand {
    margin-right: 30%;
    margin-left: 1%;
}

@media screen and (max-width: 1000px) {
    .button2 {
        display: flex;
        margin-right: 0;
    }

    .navbar-brand {
        width: 58%;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
    }
}

@media screen and (min-width: 1345px){
    .navbar-brand {
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
    }
} 

@media screen and (min-width: 1700px){
    .navbar-brand {
        width: 15%;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
    }
}

.navbar-brand img {
    z-index: 2;
    margin-top: 2%;
    padding-right: 0px;
    margin-left: 5%;
    width: 25%;
}

.navbar-brand .csilogo {
    margin-bottom: 1.5%;
    width: 15%;
}

.ts-title {
    text-align: center;
    font-style: bold;
}

/* Navbar */

a {
    text-decoration: none;
    color: rgba(34, 54, 69.7);
}

a:hover {
    color: none;
}

ul {
    list-style-type: none;
    padding-right: 2%;
}

nav ul li {
    font-size: 15px;
    font-weight: 100;
    /* margin-left: 45px; */
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
    font-weight: 500;
}

nav ul li a {
    color: #4db5ff;
    position: relative;
    padding: 0px 0;
    font-size: 14px;
}

nav ul li a:hover {
    color: #4db5ff;
}

nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #336fc3;
    transition: .3s;
    bottom: 0;
}

nav ul li a:hover:after {
    width: 100%;
}

a.nav-link:hover:before {
    color: #00c9ee;
}

a.nav-link:hover:after {
    background-color: #336fc3;
    color: #4db5ff;
    width: 100%;
}

.nav-item a {
    color: white;
}

.nav-item a:hover {
    color: #00c9ee;
}

.image {
    width: 15%;
    padding-left: 20px;
    padding-bottom: 10px;
}

/* Separating the Sections  */
.container-fluid {
    margin-right: 0%;
    border-radius: 5px;
    background: rgba(11, 74, 149, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


.container-fluid::after {
    position: absolute;
    bottom: 5px;
    content: "";
    border-radius: 5px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1)) 2%;
}


/* <p> about csi */



.faculty{
    width:50%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.stretch{
    width: 100%;
}

.input-side{
    width: auto;
}

.no-gap {
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}

        /* Float four columns side by side */
        .column {
            float: left;
            width: 25%;
            padding: 0 10px;
        }

        /* Remove extra left and right margins, due to padding */
        .row {
            margin: 0 -5px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Responsive columns */
        @media screen and (max-width: 600px) {
            .column {
                width: 100%;
                display: block;
                margin-bottom: 20px;
            }
        }

        /* Style the counter cards */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 16px;
            text-align: center;
            background-color: #f1f1f1;
        }

        .border {
            border: 2px solid rgb(255, 255, 255);
            color: rgb(255, 255, 255);
            padding: 14px 28px;
            border-radius: 5px;
        }

        fieldset {
    all: unset;
    width:1000px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
  
    
}
legend{
    all: unset;
    color: black;
    border-color: black;
  
}

.container{
    background-color: rgba(251, 251, 251);
    border-radius: 30px;
    padding-top: 3px;
    padding-left: 35px;
    color: black;
}
.label{
    color: black;
}

.form-control{
    color: black;
    border-color: black;
    color-scheme: black;
    border: 2px solid;
    background-color: #000;
}
.card-category{
    -webkit-text-fill-color: #000;
}
@media screen and (max-width: 500px) {
    input{
        width: 5%;
    }
}